.idea/
.ipynb_checkpoints/
**.log
minidrone/__pycache__/__init__.cpython-310.pyc
minidrone/__pycache__/controller.cpython-310.pyc
minidrone/__pycache__/receiver.cpython-310.pyc
minidrone/__pycache__/sender.cpython-310.pyc
minidrone/__pycache__/video.cpython-310.pyc
minidrone/__pycache__/__init__.cpython-311.pyc
minidrone/__pycache__/controller.cpython-311.pyc
minidrone/__pycache__/receiver.cpython-311.pyc
minidrone/__pycache__/sender.cpython-311.pyc
minidrone/__pycache__/video.cpython-311.pyc
minidrone/data/
minidrone/debug/